<div class="container">
    <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                    
                    
                      <form {{action "authenticate" on="submit"}}>
                        <div>
                          <label for="identification">E-mail</label><br />
                          {{input value=identification placeholder="E-mail" type="text" name="email"}}
                        </div>
                        <div>
                          <label for="password">Password</label><br />
                          {{input value=password placeholder="password" type="text" name="password"}}
                        </div>

                        <button type="submit" class="btn btn-sm btn-primary">
                            <span aria-hidden="true">Log In</span>
                        </button>
                    </form>
                    
                    
                </div>
            </div>
           </div>
     </div>
</div>
